#title {
  width: min(90%, 1500px);
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 5vh;

  div {
    display: flex;
    gap: 10px;
  }
}

input {
  width: 300px;
}

#link {
  display: flex;
  gap: 10px;
  align-items: center;
}
