.popup-container {
  display: inline-block;

  .popup-text {
    img {
      height: 14px;
      border-radius: 2px;
      margin: 0 3px;
    }
    text-decoration: grey underline;
  }

  .popup-body-reference {
    position: relative;
    width: 0;
    height: 0;

    .popup-body {
      position: absolute;
      top: 5px;

      visibility: hidden;
      opacity: 0;
      transition: visibility 200ms, opacity 200ms;

      img {
        height: 400px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
      }
    }
  }

  &:hover .popup-body-reference .popup-body {
    visibility: visible;
    opacity: 1;
  }
}
