<ng-container [ngSwitch]="node?.type">

  <ng-container *ngSwitchCase="'container'">
    <app-rich-text-node [node]="component" *ngFor="let component of asContainer().components"></app-rich-text-node>
  </ng-container>

  <ng-container *ngSwitchCase="'text'">
    <b *ngIf="asText().bold">{{asText().text}}</b>
    <span *ngIf="!asText().bold">{{asText().text}}</span>
  </ng-container>

  <ng-container *ngSwitchCase="'player'">
    <i>{{asPlayer().name}}</i>
  </ng-container>

  <!-- popup -->

  <!--TODO get actual titles for enumerated -->
  <ng-container *ngSwitchDefault>
    <div class="popup-container">
      <div class="popup-text">
        <img [src]="enumeratedImageResource()">
        <span>{{asEnumerated().id}}</span>
      </div>
      <div class="popup-body-reference">
        <div class="popup-body">
          <img [src]="enumeratedImageResource()">
        </div>
      </div>
    </div>
  </ng-container>

</ng-container>
