.popup {
  position: relative;
}

.popup::after {
  content: "hello there";
  background: grey;
  position: absolute;
  height: 150%;
  width: 200px;
  top: calc(100% + 5px);
  left: 0;
  cursor: default;

  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms, visibility 200ms;
}

.popup:hover::after {
  opacity: 1;
  visibility: visible;
}
