#container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-family: "Roboto", sans-serif;
}

.horiz-flex {
  display: flex;
  gap: 30px;

  width: max-content;
  padding-right: 20px;
}

#players, #player-game {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards-container {
  display: flex;
  gap: 10px;

  div {
    width: 200px;

    .card-img img {
      width: 100%;
    }
  }
}
