<div id="container">

  <div class="horiz-flex">

    <button *ngIf="!started" (click)="startGame()">Start</button>

    <div>
      <app-board></app-board>
    </div>

    <div *ngIf="game">

      <div id="players">
        <div class="player" *ngFor="let player of game.players">
          <b>{{player.name}}</b>
          <br>
          Leader: <b>{{player.leader.name}}</b>
          <br>
          Solari: <b>{{player.solari}}</b>, Spice: <b>{{player.spice}}</b>, Water: <b>{{player.water}}</b>
          <br>
          Military Strength: <b>{{player.militaryStrength}}</b>, Victory Points: <b>{{player.victoryPoints}}</b>
          <br>
          Influence:
          Imperator <b>{{player.influenceLevels.IMPERATOR}}</b> <ng-container *ngIf="game.allies.IMPERATOR === player.name"><b><i> (allied)</i></b></ng-container>,
          Spacing Guild <b>{{player.influenceLevels.SPACING_GUILD}}</b> <ng-container *ngIf="game.allies.SPACING_GUILD === player.name"><b><i> (allied)</i></b></ng-container>,
          Bene Gesserit <b>{{player.influenceLevels.BENE_GESSERIT}}</b> <ng-container *ngIf="game.allies.BENE_GESSERIT === player.name"><b><i> (allied)</i></b></ng-container>,
          Fremen <b>{{player.influenceLevels.FREMEN}}</b> <ng-container *ngIf="game.allies.FREMEN === player.name"><b><i> (allied)</i></b></ng-container>
        </div>
      </div>

    </div>

    <div *ngIf="playerGame" id="player-game">

      <div>
        <b>Hand</b>:
        <br>
        <ng-container *ngFor="let card of playerGame.hand">
          {{card.title}} <br>
        </ng-container>
      </div>

      <div>
        <b>Intrigue Cards</b>:
        <br>
        <ng-container *ngFor="let intrigueCard of playerGame.intrigueCards">
          {{intrigueCard.title}} <br>
        </ng-container>
      </div>

    </div>
  </div>

</div>
